@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;

.footer {
  @include mx.flexCenter;
  flex-direction: column;
  text-align: center;
  background-color: v.$footer-bg;
  text-transform: capitalize;
  padding: 8rem 0 5rem;
  border-top-right-radius: 10rem;
  @include mx.mq(1024px) {
    text-align: left;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 6rem 15% 0 8rem;
  }
  @include mx.mq(1366px) {
    margin-top: 25rem;
  }

  &-logo-container {
    padding-bottom: 2rem;
    @include mx.mq(1024px) {
      padding: 0;
    }
  }

  ul {
    padding-bottom: 1.5rem;
    @include mx.mq(1024px) {
      padding-top: 0;
    }

    .list-title {
      color: #fefefe;
      font-size: 1.6rem;
      padding: 2.5rem 0;
      @include mx.mq(1024px) {
        padding-top: 0;
      }
    }

    li {
      padding: .5rem 0;
      color: v.$footer-text
    }
  }
}