// Text Colors
$cta-text: hsl(356, 100%, 66%);
$headings: hsl(208, 49%, 24%);
$footer-text: hsl(240, 2%, 79%);
$body-copy: hsl(207, 13%, 34%);
// Background Colors
$cta-hover-bg: hsl(355, 100%, 74%);
$footer-bg: hsl(240, 10%, 16%);
// Gradients
$body-bg-grd: linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
$intro-cta-grd: linear-gradient(135deg, hsl(13, 100%, 72%) 15%, hsl(353, 100%, 62%));
// Font Families
$body-font: 'Overpass', sans-serif;
$header-font: 'Ubuntu', sans-serif;